@model BaukCMS.Models.ViewModels.CompanyViewModel

<div class="editor-label">
    @Html.LabelFor(model => model.Company)
</div>
<div class="editor-field">
    @Html.DropDownListFor(model => model.Company, Model.Company)
</div>
            
