<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://brankoh-001-site1.smarterasp.net:8172/MsDeploy.axd</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>https://brankoh-001-site1.smarterasp.net:8172/MsDeploy.axd</MSDeployServiceURL>
    <DeployIisAppPath>brankoh-001-site1</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>ifc\brankoh-001</UserName>
    <_SavePWD>False</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="BaukCMSContext" Order="1" Enabled="False">
          <Destination Path="Data Source=SQL5017.Smarterasp.net;Initial Catalog=DB_9D96ED_BaukCMS;User ID=DB_9D96ED_BaukCMS_admin;Password=1qwertzu1" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="BaukCMS.DataLayer.Context.BaukCMSContext, BaukCMS.DataLayer" MigrationConfiguration="BaukCMS.DataLayer.Migrations.Configuration, BaukCMS.DataLayer" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)BaukCMSContext-Web.config Connection String">
      <ParameterValue>Data Source=SQL5017.Smarterasp.net;Initial Catalog=DB_9D96ED_BaukCMS;User ID=DB_9D96ED_BaukCMS_admin;Password=1qwertzu1</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>